<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">
      jdbc:sqlserver://localhost:1433;databaseName=TestDB;encrypt=true;trustServerCertificate=true
    </property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">cambio123</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.example.hibernate.model.Employee"/>
    <mapping class="com.example.hibernate.model.Department"/>
    <mapping class="com.example.hibernate.model.Contact"/>
    <mapping class="com.example.hibernate.model.Address"/>
  </session-factory>
</hibernate-configuration>